# Byte-code files
*.pyc
__pycache__/

# Virtual environment
.venv/

# Editor/IDE specific files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Flask specific files
instance/ # Flask's instance folder for configuration and database files
.webassets-cache/ # Flask-Webassets cache

# Database files
*.sqlite
*.db
*.sql

# Log files
*.log
logs/

# Configuration files (if they contain sensitive information)
# config.py 
*.env
.env

# Other common ignored files
.DS_Store # macOS specific
Thumbs.db # Windows specific
.env


backend/venv/
.env